 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.main-header {
  background-image: url(../images/header-bg.png);
  margin: 0 auto;
  width: 100%;
  min-height: 323px;
  padding: 50px;
  box-sizing: border-box;
  position: relative;
}

.main-header-wrapper {
  float: left;
}

.main-header-title {
  margin: 0;
  font-family: Arial;
  color: #ffffff;
  font-size: 60px;
  font-weight: 400;
  text-align: left;
}

.main-header-list {
  list-style-image: url(../images/check_icon.png);
  height: 127px;
  width: 422px;
  position: absolute;
  top: 145px;
  left: 86px;
}

.main-header-list-item {
  width: 422px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-family: "Arial";
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
}

.main-header-product-photo {
  display: block;
  background-color: #ffffff;
  width: 469px;
  min-height: 214px;
  float: right;
}

.content {
  width: 100%;
  height: 2863px;
  margin: 0 auto;
}

.block1 {
  width: 100%;
  height: 345px;
  padding: 50px;
  box-sizing: border-box;
  position: relative;
}

.block1-wrapper {
  float: left;
}

.spanblock1 {
  width: 254px;
  height: 28px;
  color: #445161;
  font-family: "Arial";
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

.txt-p1 {
  width: 649px;
  height: 63px;
  color: #333333;
  font-family: "Arial";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  position: absolute;
  top: 107px;
  left: 50px;
}

.txt-p2 {
  width: 653px;
  height: 60px;
  color: #333333;
  font-family: "Arial";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  position: absolute;
  top: 190px;
  left: 50px;
}

.video {
  display: block;
  width: 430px;
  height: 245px;
  background-color: #445161;
  float: right;
}

.dignity {
  width: 100%;
  height: 419px;
  padding: 50px;
  background-color: #f5f5f5;
  box-sizing: border-box;
}

.dignity-title {
  display: block;
  margin: 0 0 24px 0;
  text-align: center;
  font-size: 30px;
  font-family: "Arial";
  color: rgb(68, 81, 97);
  line-height: 1.2;
}

.dignity-list {
  width: 540px;
  margin: 0;
  padding: 0 0 0 46px;
  list-style-type: none;
  float: left;
}

.dignity-list:nth-child(3) {
  float: right;
}

.dignity-list-item {
  margin: 0 0 40px 0;
  position: relative;
}

.dignity-list:nth-child(2) > .dignity-list-item:nth-child(3),
.dignity-list:nth-child(3) > .dignity-list-item:nth-child(3) {
  margin: 0;
}

.dignity-list-item:before {
  content: "+";
  display: block;
  width: 32px;
  height: 32px;
  background-color: #445161;
  color: white;
  font-size: 28px;
  text-align: center;
  line-height: 32px;
  position: absolute;
  top: 0;
  left: -46px;
}

.footer-main {
  width: 100%;
  height: 534px;
  background-color: #445162;
}
